body{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
.name-highlight{
    color: darkgoldenrod;
}
.hire-me{
    font-size: 16px;
    font-weight: 700;
    width: 100px;
    padding: 10px;
    border: none;
    background-color: darkgoldenrod;
    border-radius: 5px;
}
